body{
    font-family: 'Inter', sans-serif;
    color: var(--black);
}


/* Global css*/
:root {
    --white:#ffffff;
    --black:#281D37;
    --black20:rgba(173, 184, 204, 0.2);
    --black50:#CCCCCC;
    --red:#E62E2E;
    --bg:#F2F4F9;
    --bg-menu-:#F7F8FA;
    --grey:#E5E7EB;
    --grey-blue:#6B7A99;
    --blue:#291F64;
    --blue-foncé:#26334D;
  }

*{
    outline: none;
}
a{
    text-decoration: none;
}

ul{
    padding: initial;
    margin: initial;
}

ul li{
    list-style: none;
}

.w-50{
    width: 50%;
}

.w-50{
    width: 50%;
}

.gap-15{
    gap:15px;
}
/* -----------------------------------------------------------*/

/* Padding class*/

.p-15{
    padding: 15px;
}

.p-25{
    padding: 25px;
}

.pt-25{
    padding-top: 25px;
}

.pl-25{
    padding-left: 25px;
}

/* -----------------------------------------------------------*/

/* Flex css*/

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

/* -----------------------------------------------------------*/

/* Alignement text*/

.center{
    text-align: center;
}

.left{
    text-align: left;
}


.right{
    text-align: right;
}

/* -----------------------------------------------------------*/



title{
    font-size: 35px;
    text-align: center;
}


.title-components{
    margin-top: 25px;
    font-size: 24px;
    font-weight: 600;
    padding: 0 15px 15px 25px;
    border-bottom:1px solid  rgba(173, 184, 204, 0.2);
}



/* Bouton*/

.btn{
    color: var(--white);
    background: var(--red);
    font-size: 12px;
    font-weight: 500;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    animation: pulse 0.5s;
    box-shadow: 0 0 0 3px transparent;
    background-color: var(--black);
  }

.btn:focus {
    animation: click 0.5s;
    box-shadow: 0 0 0 6px transparent;
    background-color: var(--red);
  }

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--black); }
}
@keyframes click {
    0% { box-shadow: 0 0 0 0 var(--black); }
  }

/* -----------------------------------------------------------*/


/* Input*/

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: var(--black);
}

.input-group{
    width: 100%;
}

.input{
    display: block;
    height: 35px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid var(--black50);
    padding: 0 12px;
    font-size: 12px;
    color: var(--black);
}

.input:hover{
    border-color: var(--black20);
    background: var(--bg);
}

.input:focus{
    box-shadow: 0 0 0 2px var(--black20);
}

select::-ms-expand {
    display: none;
  }

::placeholder {
    color: var(--grey-blue);
    font-size: 12px;
  }

  select{
    appearance: none;
    padding-right: 28px!important;
  }

.select {
    position: relative;
 }

select::-ms-expand {
    display: none;
  }

 
  .select::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--black);
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }

/* -----------------------------------------------------------*/



/* Menu */
nav{
background: var(--bg-menu-);
}

.nav-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 25px 10px 25px;
    gap: 15px;
    color: var(--grey-blue);
    border-radius: 5px;
}

.nav-link:hover{
    background: var(--red);
    color: var(--white);
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}

.text-menu{
    font-size: 12px;
}

/* -----------------------------------------------------------*/


/* Push */

.blue{
    background: var(--blue);
}

.push{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    background: var(--bg);
    color: var(--blue);
    border-radius: 50px;
}

.push:hover{
    animation: push 0.5s;
    box-shadow: 0 0 0 5px transparent;
}

.push.notification{
    position: relative;
}

.number{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px 8px;
    background: var(--red);
    position: absolute;
    top: -2px;
    right: -10px;
    font-size: 12px;
    color:var(--white);
    border-radius: 10px;
}
    
@keyframes push {
    0% { box-shadow: 0 0 0 0 var(--bg); }
  }
/* -----------------------------------------------------------*/


/* Tabs */

.tabs{
    padding: 10px 15px;
    border: 1px solid rgba(173, 184, 204, 0.5);
    border-radius: 5px;
    color: var(--grey-blue);
    background: var(--white);
    position: relative;
    font-size: 12px;
}

.tabs span{
    color: var(--blue);
    font-weight: 500;
}

.tabs:hover{
    animation:tabs 0.5s;
    background: var(--red);
    border: none;
    color: var(--white);
    box-shadow: 0 0 0 3px transparent;
}

.tabs:hover span{
    color: var(--white);
}


.tabs.active::after{
    content: "";
    width: 8px;
    height: 8px;
    background: var(--red);
    border-radius: 10px;
    position: absolute;
    right: -4px;
    top: -4px;
}

@keyframes tabs {
    0% { box-shadow: 0 0 0 0 var(--red); }
  }


/* -----------------------------------------------------------*/

/* Filtre */

.filter{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 7px 5px 7px 15px;
    border: 1px solid rgba(173, 184, 204, 0.5);
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    color: var(--blue-foncé);
    position: relative;
}

.close{
    background: none;
    border: none;
}

.close::after{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    content: "\00d7";
    color: var(--white);
    background: var(--blue);
    padding: 11px 8px 11px 7px;
    font-size: 12px;
    line-height: 0;
}

.close:hover::after{
    background: var(--red);
}

.filter::before{
    content: "";
    display: flex;
    width: 1px;
    height: 18px;
    background: var(--blue);
    position: absolute;
    left: 0;
}

.filter:hover{
    background: var(--bg);
    border-color: var(--black20)
}



/* -----------------------------------------------------------*/